.HomePage{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}
.main {
    background-color: #c5e1f7;
    width: 100vw;
    height: 74px;
    
}

.registro {
    cursor: pointer;
    color: black;
    background-color: white;
    margin-left: 10%;
    margin-top: 44px;
    right: 10px;
    position: absolute;
    margin-right: 14vw;
    font-family:'Times New Roman', Times, serif;
    height: 2vw;
    width: 9vw;
    border: 0ch;
    font-size: 10px;
    

}
.registro:hover{
    background-color: #ab69d6;
}

.login {
    color: black;
    cursor: pointer;
    background-color: white;
    margin-top: 44px;
    margin-left: 40px;
    margin-right: 3vw;
    position: absolute;
    right: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 2vw;
    width: 9vw;
    border: 0ch;
    font-size: 10px;
}

.login:hover {
    background-color: #ab69d6;
}




.q1{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 38vw;
    display: flex;
    flex-direction: row;

}
.q1:hover{
    
    background-color: violet;
    background: linear-gradient(to left, #ab69d6, #75b8ef);
}
.q1:hover .qitem{
    opacity: 0;
}
.q1:hover .qitem2{
    opacity: 1;
}
.q1:hover .qitem3{
    opacity: 0;
}
.q1:hover .qitem4{
    opacity: 1;
}

.q1 div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.qitem2 {
    opacity: 0;
}
.qitem4 {
    opacity: 0;
}

.pt{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.pt2{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

/* .q2{
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 38vw;
    border-left: 3px;
    display: flex;
    flex-direction: row;
    right: 0%;
} */

/* .q2:hover{
    background-color: violet;
    background: linear-gradient(to right, #ab69d6, #75b8ef);
    
} */

.q2:hover .qitem3 {
    opacity: 1;

}

.qq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

/* .pt{
    color: black;
    font-family: 'Times New Roman', Times, serif;

} */


.pc{

    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 18vw;
    margin-left: 33vh;
    font-family: 'Times New Roman', Times, serif;

}

.linhaVertical {
    background-color: #c5e1f7;
    height: 27vw;
    width: 3px;
    margin-top: 12vh;
}

.image {
    z-index: 10;
}

.buto {
    border-radius: 40px;
    cursor: pointer;
    background-color: #754991;
    height: 60px;
    width: 220px;
    color: white;
    font-size: 20px;
    border: transparent;
    
}

