.main {
    background-color: #c5e1f7;
    width: 100vw;
    height: 74px;
    position: fixed;
}

.registro {
    margin-left: 10%;
    margin-top: -24px;
    right: 10px;
    position: absolute;
    margin-right: 14vw;
    font-family:'Times New Roman', Times, serif;
    height: 2vw;
    width: 9vw;
    border: 0ch;
    font-size: 10px;
    

}

.login {
    margin-top: -24px;
    margin-left: 40px;
    margin-right: 3vw;
    position: absolute;
    right: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 2vw;
    width: 9vw;
    border: 0ch;
    font-size: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    margin-right: 85vw;
    margin-top: 25px;
    margin-left: 3vw;
    font-family: 'Times New Roman', Times, serif;

}

