.main {
    background-color: #eff6fc;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0%;

}


.q1 {
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;


}

.q2 {
    background-color: #c5e1f7;
    height: 10vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.icone {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 8%;
    margin-right: 60px;
}

.icone input {
    background-color: white;
    color: black;
    width: 250px;
    height: 25px;
    border-radius: 20px;

}

.title1 {
    font-size: 30px;
    margin-left: 15px;

}

.title2 {
    font-size: 30px;

}

.icone1 {
    background-color: transparent;
    position: absolute;
    right: 0px;

}

.q5 {
    background-color: #eff6fc;
    width: 60vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.pago {
    margin-right: 20px;
}

.filtrar {
    margin-left: 20px;
}

.chek {

    width: 33px;
    height: 33px;

}

.acertar {
    width: 100px;
    height: 35px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}