.main {
    background-color: #eff6fc;
    height: 100vh;
    width: 71vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0%;
    
}


.q1 {
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

    
}

.q2 {
    background-color: #c5e1f7;
    height: 10vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.q3 {
    width: 60 vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 7%;
}

.title1 {
    font-size: 30px;
    margin-left: 15px;
    
}
.title2 {
    font-size: 30px;

}